@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

.bgCaptcha {
  background-image: url("./assets/bg_captcha1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
